@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<input type="text" @bind="@MyString" @bind:event="oninput" @bind:after="SearchAsync" />



<input type="text" @bind="@MyString" @bind:event="oninput" @bind:after="() => SearchAsync()" />
